.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin-right: 10px;
      padding: 10px 20px;
      border: none;
      // adding this so that the layout doesnt shift on a button being active
      // since on active we add 2px  to the border bottom
      border-bottom: 4px solid white;
      cursor: pointer;
      // Add border-radius for rounded corners
      border-radius: 8px;
      font-size: 18px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05); // Add hover effect
      }

      &.gainers {
        background-color: #8effb0; // Light green

        &.active {
          background-color: #5ca869; // Dark green
          border-bottom: 4px solid #005e20; // Dark green border bottom
        }
      }

      &.losers {
        background-color: #ff8080; // Light red

        &.active {
          background-color: #e06666; // Dark red
          border-bottom: 4px solid #8b0000; // Dark red border bottom
        }
      }
    }
  }
}
