/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input Styles */
.search-input {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  color: #000;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #303030;
  }
}

/* Table Header and Cell Styles */
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Header Styles */
th {
  background: linear-gradient(to bottom, #005e20, #004c15);
  color: white;
  text-align: center;
}

/* Apply cursor: pointer only to 3rd, 4th, and 5th th elements */
th:nth-child(3),
th:nth-child(4),
th:nth-child(5) {
  cursor: pointer;
}

tr:hover {
  background-color: #e0e0e0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  table {
    overflow-x: auto;
  }
}

/* box shadows for rows */
tr {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* additional styles to make the content within the th align properly */
.th-with-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.th-with-flex > span {
  flex: 1;
}

.th-with-flex > * {
  margin-left: 4px;
}
