.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 34px;
      margin-bottom: 20px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background: linear-gradient(
          to right,
          rgba(0, 94, 32, 1),
          rgba(251, 80, 87, 1)
        );
        transform-origin: 0 50%;
        transform: scaleX(1);
        transition: transform 0.3s ease-in-out 1s;
      }

      span {
        display: inline-block;
        position: relative;
      }

      span.highlight {
        color: rgba(0, 94, 32, 1); // Green for "G"
        transition: transform 0.3s ease-in-out;
      }

      span.loss {
        color: rgba(251, 80, 87, 1); // Red for "L"
      }
    }

    button {
      margin-right: 10px;
      padding: 10px 20px;
      border: none;
      // adding this so that the layout doesnt shift on a button being active
      // since on active we add 2px  to the border bottom
      border-bottom: 4px solid white;
      cursor: pointer;
      // Add border-radius for rounded corners
      border-radius: 8px;
      font-size: 18px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05); // Add hover effect
      }

      &.gainers {
        background-color: #8effb0; // Light green

        &.active {
          background-color: #5ca869; // Dark green
          border-bottom: 4px solid #005e20; // Dark green border bottom
        }
      }

      &.losers {
        background-color: #ff8080; // Light red

        &.active {
          background-color: #e06666; // Dark red
          border-bottom: 4px solid #8b0000; // Dark red border bottom
        }
      }
    }
  }
}
